<img src="https://i.imgur.com/AvWj7An.jpg" alt="merch logo big" width="113px">
<br><br>
<table align="left" width="700px" style="background-color: white; border-radius: 25px; border: 1px solid #cecfce; padding: 25px;">
	<tr>
		<td>
		<span style="font-family: Helvetica Neue Light, Helvetica; font-weight: 300; font-size: 28px; color: #0079c1;">
			Insert header here
		</span>
		</td>
	</tr>
	<tr>
		<td style="width: 530px; word-wrap: break-word; padding: 12px; margin: 0;">
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
		</td>
	</tr>
	<tr>
		<td>
			<a href="" style="text-decoration: none;">
					<div style="border-radius: 15px; background-color: #0079c1; width: 150px;">
						<p style="color:#fff; font-size: 13px; line-height: 20px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-align: center; padding: 10px; text-decoration: none;" > This is a button
					</div>
				</a>
		</td>
	</tr>
	<tr>
		<td style="width: 530px; word-wrap: break-word; padding: 12px; margin: 0;">
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
			<p style="font-family: Arial, sans-serif; font-size: 13px;">Insert text here
		</td>
	</tr>
</table>