<table border="0" align="center" width="700px" style="background-color: white; padding: 30px;">
		<tr>
			<td><img src="\templates\promotional\logo-big.jpg" alt="merchant logo big"></td>
		</tr>
		<tr width="640px" height="214" align="center">
			<td width="225px" height="194px"><img src="rando.jpg" alt="image"></td>
			<td>
				<p align="left" style="font-family: Helvetica, Arial, sans-serif; font-size: 30px; color: #009cde; line-height: 34px; padding-left: 9px">Some big ass header here</p>
				<p align="left" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #666; line-height: 20px; padding-left: 9px;">Some subheader here</p>
				<!-- CTA button-->
				<a href="/link/here" style="text-decoration: none;">
					<div style="width: 300px; height: 40px; background-color: #009cde;">
						<p style="color:#fff; font-size: 13px; line-height: 20px; font-weight: bold; font-family: Helvetica, Arial, sans-serif; text-align: center; padding: 10px; text-decoration: none;" > Shop now
					</div>
				</a>
			</td>
		</tr>

	</table>