<table border="0" align="center" width="700px" style="background-color: white;  padding: 30px;">
		<tr>
			<td style="background-color: #e6e6e6; width: 640px; padding: 20px;">
				<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 15px; font-weight: bold; padding: 0;"> Why checkout with Paypal?</div>
				<ul style="color: #666666;">
					<li>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; font-weight: bold;">	Easier and faster</div>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px;">No more mindless numbers to memorise. Shop with just an email and password.</div>
					</li>
					<li>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; font-weight: bold;">Buyer Protection</div>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px;">If an eligible item doesn’t show up, or turns out to be significantly different, we’ll help sort things out.</div>
					</li>
					<li>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; font-weight: bold;">Earn Reward Points</div>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px;">Grow your credit card rewards as you shop with PayPal. Simply add and link a credit card to shop.</div>
					</li>
					<li>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; font-weight: bold;">Refunded returns</div>
						<div style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px;">If you need to send eligible items back, we’ll refund up to USD15 off your shipping fees.</div>
					</li>
				</ul>
			</td>
		</tr>
	</table>