<table border="0" align="center" width="700px" style="background-color: white; padding: 30px;">
	<tr>
		<img src="" alt="mech big logo">
		<br><br>
	</tr>
	<tr>
		<!-- Header -->
		<span style="font-family: Helvetica, Arial, sans-serif; font-size: 42px; color: #009cde;">
			Insert header here
		</span>
		<br>
	</tr>
	<tr>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; text-decoration: none; line-height: 20px;">
			Insert salutations here
		</p>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; text-decoration: none; line-height: 20px;">
			Insert text here
		</p>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; text-decoration: none; line-height: 20px;">
			Insert text here
		</p>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 16px; font-weight: bold;">
			Insert subheader here
		</p>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; text-decoration: none; line-height: 20px;">
			Insert text here
		</p>
		<p style="font-family: Helvetica, Arial, sans-serif; color: #666666; font-size: 13px; text-decoration: none; line-height: 20px;">
			Yours sincerely,
		</p>
	</tr>
	<tr>
		<img src="" alt="mech small logo">
		<br><br>
	</tr>
</table>
